{% load static %}
    
    <!-- Feadtued Categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'images/categoryimg1.png' %}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/categoryimage2.png' %}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/categoryimage3.png' %}">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Events</h2>
        <div class="row">
            <div class="col-4">
                <a href="{% url 'eventdetails' %}"><img src="{% static 'images/marriageproduct.png' %}"></a>
                <h4>Marriage Event</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/birthdayproduct.png' %}">
                <h4>Birthday Party Event</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/corporateproduct.png' %}">
                <h4>Corporate Event</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/bridetobeproduct.png' %}">
                <h4>Bride to Be</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
        </div>
        <h2 class="title">Latest Decorative Elements</h2>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/tablesetelement.png' %}">
                <h4>Table Set</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/stageelement.png' %}">
                <h4>Stage Decorations</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/hallchair.png' %}">
                <h4>Chair sets and decorations</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/artselement.png' %}">
                <h4>Arts and Performances</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/foodelement.png' %}">
                <h4>Food and Beverages</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/cateringelement.png' %}">
                <h4>Catering and Serving</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/transportationelement.png' %}">
                <h4>Transportation</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/costumeelement.png' %}">
                <h4>Costumes and Makeover</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="price">$50.00</p>
            </div>
        </div>
    </div>
