{% extends 'loginlayout.html' %}

{% block content %}

<head>
	<title>SignUp Page</title>
</head>

<div class="container h-100">

    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <form class="mx-1 mx-md-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Your Name" name="username" required maxlength="15">
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" name="email" placeholder="Your Email">
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-star"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Address" name="address" required minlength="6">
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-indent"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Phone" name="phone" required minlength="6">
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" name="password" minlength="6" placeholder="Password">
        </div>

        <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3">
                Agree all Terms<a href="#!">Terms of service</a>
            </label>
        </div>

        <a class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" href="{% url 'login' %}">Sign in</a>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" name="register" class="btn login_btn">Register</button>
        </div>

    </form>

</div>

<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
</div>

{% endblock content %}
